# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- NumPy
- Matplotlib

| Data Science Tools   |
|----------------------|
| Jupyter Notebook     |
| Visual Studio Code   |
| RStudio              |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [7]:
200/6

33.333333333333336

**Objectives:**
- List popular libraries for data scientists.
- Format markdown text as header.
- Use arithmetic expressions in python.

## Author
Francisco Velasco